@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;

  background: linear-gradient(to top right, blue, red);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

#container {
  width: 100%;
  max-width: 500px;

  padding: 40px 30px;

  border-radius: 18px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(53, 53, 53, 0.4)
  );

  backdrop-filter: blur(8px);

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 0.95rem;
  opacity: 0.8;
  text-align: center;
}

.buttons {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  height: 45px;
  width: 50%;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

#btn-cadastro {
  background: transparent;
  color: white;

  border: 1px solid red;
}

#btn-lista {
  background: transparent;
  color: white;

  border: 1px solid blue;
}

button:hover {
  color: white;
  background: rgba(255, 255, 255, 0.12);
  transform: scale(1.03);
}
